# 제외할 파일들
.metadata
.recommenders

# javase_prj 제외할거
javase_prj/.settings
javase_prj/bin
javase_prj/doc
javase_prj/.classpath
javase_prj/.project

# javase_prj2 제외할거
javase_prj2/.settings
javase_prj2/bin
javase_prj2/doc
javase_prj2/.classpath
javase_prj2/.project